@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;


    /* Container background color on click */
    --click-bg: rgba(86, 86, 86, 0.1);

    /* Oppo container background color on click */
    --oppo-click-bg: #2a2a2a;

    /* Color that matches the theme */
    --same-theme-col: white;

    /* Color that is opposite of the theme */
    --oppo-theme-col: black;

    /* Main color */
    --main-color: #248fca;

    /* Text with faded texture */
    --fade-text-color: gray;

    /* Background of sent text */
    --own-message-bg: rgb(59, 130, 246);

    /* Text color of sent text */
    --own-message-text: white;

    /* Background of received text */
    --ownt-message-bg: rgba(189, 189, 189, 0.383);

    /* Text color of received text */
    --ownt-message-text: black;

    /* Background color of blog post */
    --blog-bg: rgba(139, 139, 139, 0.06);

    /* Color of the border of a Blog post item in the home page */
    --blog-border-color: rgba(119, 119, 119, 0.15);

    /* Color of the lightning icon in the quick access section */
    --quick-access-title-icon-color: orange;

    /* Color of the sparkles icon in the blog section */
    --blog-title-icon-color: rgb(228, 228, 0);

    /* Color of the like button when not liked */
    --not-liked: black;

    /* Color of the like button when liked */
    --liked: blue;

    /* Carousel indicator color */
    --carousel-color: black;

    /* Click background when the image is in detail mode */
    --detail-click-bg: rgba(42, 42, 42, 0.4);

    /* Background of the type of diebetes in profile screen */
    --dia-type-bg: #195eff;

    /* Color of the go to top buttun in blog screen */
    --go-up-btn-bg: black;

    /* The color of the icon inside the go up button */
    --go-up-btn-icon: white;

    /* Color of info button text and icon in authen page */
    --info-text: #2a6aff;

    /* Background of the input field of the chat screen */
    --input-bg: rgba(234, 234, 234, 0.781);

    /* Background of the cameara buttons when clicked */
    --camera-click-bg: rgba(145, 145, 145, 0.502);

    /* Background of the go up button when clicked */
    --go-up-click-bg: rgba(44, 44, 44, 0.875);

    /* Background of the notification modal */
    --noti-bg: #ffffff;

    /* Border of the divider in noti modal */
    --noti-divider: rgb(219, 219, 219);

    /* Green shade background */
    --green-dynamic-bg: #22c55e2d;

    /* Yellow shade background */
    --yellow-dynamic-bg: #eab2082a;

    /* Blue shade background */
    --blue-dynamic-bg: #3b83f62d;

    /* Red shade background */
    --red-dynamic-bg: #ef44442e;

    /* Pink shade background */
    --pink-dynamic-bg: #ef3acb2e;
  }

  .dark:root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;


    /* Container background color on click */
    --click-bg: rgb(42, 42, 42);

    /* Oppo container background color on click */
    --oppo-click-bg: #e6e6e6;

    /* Color that matches the theme */
    --same-theme-col: black;

    /* Color that is opposite of the theme */
    --oppo-theme-col: white;
    
    /* Main color */
    --main-color: #248fca;

    /* Text with faded texture */
    --fade-text-color: gray;

    /* Background of sent text */
    --own-message-bg: rgb(37, 99, 235);

    /* Text color of sent text */
    --own-message-text: white;

    /* Background of received text */
    --ownt-message-bg: rgba(90, 90, 90, 0.894);

    /* Text color of received text */
    --ownt-message-text: white;

    /* Background color of blog post */
    --blog-bg: #111111b7;

    /* Color of the border of a Blog post item in the home page */
    --blog-border-color: rgba(238, 238, 238, 0.15);

    /* Color of the lightning icon in the quick access section */
    --quick-access-title-icon-color: orange;

    /* Color of the sparkles icon in the blog section */
    --blog-title-icon-color: yellow;

    /* Color of the like button when not liked */
    --not-liked: #fff;

    /* Color of the like button when liked */
    --liked: rgb(0, 89, 255);

    /* Carousel indicator color */
    --carousel-color: white;

    /* Click background when the image is in detail mode */
    --detail-click-bg: rgba(42, 42, 42, 0.4);

    /* Background of the type of diebetes in profile screen */
    --dia-type-bg: #2969ff;

    /* Color of the go to top buttun in blog screen */
    --go-up-btn-bg: white;

    /* The color of the icon inside the go up button */
    --go-up-btn-icon: black;

    /* Color of info button text and icon in authen page */
    --info-text: #85aaff;

    /* Background of the input field of the chat screen */
    --input-bg: rgba(32, 32, 32, 0.952);

    /* Background of the cameara buttons when clicked */
    --camera-click-bg: rgba(145, 145, 145, 0.502);

    /* Background of the go up button when clicked */
    --go-up-click-bg: rgba(209, 209, 209);

    /* Background of the notification modal */
    --noti-bg: #111;

    /* Border of the divider in noti modal */
    --noti-divider: #333;

    /* Green shade background */
    --green-dynamic-bg: rgba(45, 205, 104, 0.757);

    /* Yellow shade background */
    --yellow-dynamic-bg: #eacc08c0;

    /* Blue shade background */
    --blue-dynamic-bg: rgba(59, 131, 246, 0.757);

    /* Red shade background */
    --red-dynamic-bg: rgba(239, 68, 68, 0.757);

    /* Pink shade background */
    --pink-dynamic-bg: rgba(239, 68, 222, 0.757);
  }
}