@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;


    /* Container background color on click */
    --click-bg: rgba(86, 86, 86, 0.1);

    /* Text with the same color as the theme */
    --same-theme-text: white;

    /* Text with faded texture */
    --fade-text-color: gray;

    /* Background of sent text */
    --own-message-bg: rgb(59, 130, 246);

    /* Text color of sent text */
    --own-message-text: white;

    /* Background of received text */
    --ownt-message-bg: rgba(189, 189, 189, 0.383);

    /* Text color of received text */
    --ownt-message-text: black;

    /* Icon color of quick access button */
    --quick-access-icon-color: #195eff;

    /* Background color of blog post */
    --blog-bg: rgba(139, 139, 139, 0.06);

    /* Color of the border of a Blog post item in the home page */
    --blog-border-color: rgba(119, 119, 119, 0.15);

    /* Color of the lightning icon in the quick access section */
    --quick-access-title-icon-color: orange;

    /* Color of the sparkles icon in the blog section */
    --blog-title-icon-color: rgb(228, 228, 0);

    /* Color of the like button when not liked */
    --not-liked: black;

    /* Color of the like button when liked */
    --liked: blue;

    /* Carousel indicator color */
    --carousel-color: black;

    /* Click background when the image is in detail mode */
    --detail-click-bg: rgba(42, 42, 42, 0.4);

    /* Background of the type of diebetes in profile screen */
    --dia-type-bg: #195eff;

    /* Color of the go to top buttun in blog screen */
    --go-up-btn-bg: rgba(0, 0, 0, 0.465);

    /* The color of the icon inside the go up button */
    --go-up-btn-icon: white;

    /* Color of info button text and icon in authen page */
    --info-text: #2a6aff;

    /* Background of the input field of the chat screen */
    --input-bg: rgba(234, 234, 234, 0.781);
  }

  .dark:root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;


    /* Container background color on click */
    --click-bg: rgb(42, 42, 42);

    /* Text with the same color as the theme */
    --same-theme-text: black;

    /* Text with faded texture */
    --fade-text-color: gray;

    /* Background of sent text */
    --own-message-bg: rgb(37, 99, 235);

    /* Text color of sent text */
    --own-message-text: white;

    /* Background of received text */
    --ownt-message-bg: rgba(90, 90, 90, 0.894);

    /* Text color of received text */
    --ownt-message-text: white;

    /* Icon color of quick access button */
    --quick-access-icon-color: #84bcfd;

    /* Background color of blog post */
    --blog-bg: #111111b7;

    /* Color of the border of a Blog post item in the home page */
    --blog-border-color: rgba(238, 238, 238, 0.15);

    /* Color of the lightning icon in the quick access section */
    --quick-access-title-icon-color: orange;

    /* Color of the sparkles icon in the blog section */
    --blog-title-icon-color: yellow;

    /* Color of the like button when not liked */
    --not-liked: #fff;

    /* Color of the like button when liked */
    --liked: rgb(71, 71, 195);

    /* Carousel indicator color */
    --carousel-color: white;

    /* Click background when the image is in detail mode */
    --detail-click-bg: rgba(42, 42, 42, 0.4);

    /* Background of the type of diebetes in profile screen */
    --dia-type-bg: #2969ff;

    /* Color of the go to top buttun in blog screen */
    --go-up-btn-bg: rgba(255, 255, 255, 0.859);

    /* The color of the icon inside the go up button */
    --go-up-btn-icon: black;

    /* Color of info button text and icon in authen page */
    --info-text: #85aaff;
    
    /* Background of the input field of the chat screen */
    --input-bg: rgba(32, 32, 32, 0.952);
  }
}